[Desktop Entry]
Type=Application
Name=Coot
Comment=Macromolecular model builder
Exec=coot %f
Icon=coot
Terminal=true
Categories=Science;Chemistry;
MimeType=chemical/x-pdb;chemical/x-mmcif;chemical/x-mdl-molfile;
