[Desktop Entry]
Type=Application
Name=Coot
GenericName=Crystallographic Object-Oriented Toolkit
Comment=Macromolecular Model Builder
Exec=coot %f
Icon=coot
StartupWMClass=coot-1
Terminal=false
Categories=Science;Chemistry;Biology;GTK;
MimeType=chemical/x-pdb;chemical/x-mmcif;chemical/x-mdl-molfile;
