
PROJECT_NAME           = "libcootapi"

# and sfcalc_genmap_stats_t, mo ved_residue_t and moved_atom_t need docs.
INPUT = @CMAKE_CURRENT_SOURCE_DIR@/api/molecules-container.hh   @CMAKE_CURRENT_SOURCE_DIR@/api/coot-molecule.hh     @CMAKE_CURRENT_SOURCE_DIR@/coot-utils/simple-mesh.hh \
        @CMAKE_CURRENT_SOURCE_DIR@/api/instancing.hh            @CMAKE_CURRENT_SOURCE_DIR@/api/superpose-results.hh @CMAKE_CURRENT_SOURCE_DIR@/api/validation-information.hh \
        @CMAKE_CURRENT_SOURCE_DIR@/coot-utils/vertex.hh         @CMAKE_CURRENT_SOURCE_DIR@.geometry/residue-and-atom-specs.hh \
        @CMAKE_CURRENT_SOURCE_DIR@/coot-utils/sfcalc-genmap.hh  @CMAKE_CURRENT_SOURCE_DIR@/coot-utils/coot-density-stats.hh \
        @CMAKE_CURRENT_SOURCE_DIR@/coot-utils/coot-map-utils.hh @CMAKE_CURRENT_SOURCE_DIR@/coords/mmdb-crystal.h    @CMAKE_CURRENT_SOURCE_DIR@/coords/Cartesian.h \
        @CMAKE_CURRENT_SOURCE_DIR@/api/generic-3d-lines.hh      @CMAKE_CURRENT_SOURCE_DIR@/analysis/stats.hh        @CMAKE_CURRENT_SOURCE_DIR@/api/moorhen-h-bonds.hh \
        @CMAKE_CURRENT_SOURCE_DIR@api/coot-colour.hh            @CMAKE_CURRENT_SOURCE_DIR@/api/api-cell.hh          @CMAKE_CURRENT_SOURCE_DIR@/coot-utils/g_triangle.hh \
        @CMAKE_CURRENT_SOURCE_DIR@/api/residue-validation-information.hh

GENERATE_XML = YES

ENABLE_PREPROCESSING = YES

# use this in the code to skip over parts of the API that are not for exporting

# Make a new version of this doxy config file that specifies SKIP_FOR_PYTHON_DOXYGEN=TRUE
# atom_cid_to_atom_spec
# PREDEFINED = DOXYGEN_SHOULD_PARSE_THIS SWIG=TRUE
PREDEFINED = DOXYGEN_SHOULD_PARSE_THIS=TRUE SKIP_FOR_PYTHON_DOXYGEN=TRUE NB_VERSION_MAJOR=1 MAKE_ENHANCED_LIGAND_TOOLS=1

