#editor_canvas_container {
    border: greenyellow 1px solid;
    padding: 5px;
    cursor: default;
    user-select: none;
}

#lhasa_drawing {
    background-color: white;
}

#lhasa_editor {
    font-family: sans-serif;
    background-color: rgb(0, 0, 66);
    color: yellow;
    font-size: small;
    padding: 10px;
    width: fit-content;
}

.toolbar {
    border: darkred 1px solid;
    padding: 5px;
    /* align-items: center; */
}

.panel {
    border: limegreen 1px solid;
    padding: 5px;
}

#invalid_molecules_panel, 
#scale_panel,  
#display_mode_panel,
#status_display_panel {
    margin-bottom: 5px;
}

#smiles_display_outer {
    margin-bottom: 5px;
    flex-grow: 1;
}

#x_element_panel {
    margin-bottom: 5px;
    display: none;
}


#error_display {
    margin-bottom: 5px;
    display: none;
    color: red;
    font-weight: bold;
    border: red 1px solid;
    padding: 5px;
}


.horizontal_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.vertical_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.horizontal_toolbar {
    margin-bottom: 2px;
    margin-top: 2px;
}

.vertical_toolbar {
    /* margin-right: 2px;
    margin-left: 2px; */
    align-items: normal;
}

.button {
    border: yellowgreen 2px outset;
    background-color: rgb(0, 0, 110);
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    cursor: pointer;
}

.tool_button {
    border: limegreen 1px outset !important;
}

.button:hover {
    background-color: rgb(0, 0, 148);
}

.button:active {
    background-color: rgb(0, 0, 175);
}

.active_tool {
    background-color: rgb(0, 0, 175) !important;
}

#smiles_display {
    padding: 5px;
    font-family: monospace;
}

#scale_display {
    padding: 5px;
}

#status_display_panel {
    padding: 10px;
    margin-top: 5px;
}

#lhasa_editor input {
    font-family: sans-serif;
    background-color: rgb(0, 0, 66);
    color: yellow;
    font-size: small;
}

#lhasa_footer {
    margin-top: 20px;
}

#pre_render_message {
    color: yellow;
    font-weight: bold;
    font-size: 200%;
    background-color: rgb(0, 0, 66);
}